In [ ]:
name = "Amina Ahmad"
print(name.upper())  # All in upper case like AMINA AHMAD with upper()
print(name.lower())  # All in lower case like amina ahmad rehman with lower()
print(name.title())  # All in upper case like Amina Ahmad with title()

AMINA AHMAD
amina ahmad
Amina Ahmad

In [ ]:
first_name = "Amina"
last_name = "Ahmad"
full_name = f"{first_name} {last_name}"  # f-string to add above two variables
print(f"Hello, {full_name}!")

Hello, Amina Ahmad!

In [ ]:
print("Amina \n\tAhmad")  #\n for New line and \t for add tab space

Amina
	Ahmad

In [ ]:
message = "    Amina Ahmad    "
print(message)
print(message.strip())  # for removing all extra space
print(message.rstrip())  # for removing right space
print(message.lstrip())  # for removing left space

    Amina Ahmad
Amina Ahmad
    Amina Ahmad
Amina Ahmad

In [ ]:
name = "Amina Ahmad"
print(name.removeprefix("Amina"))  # to remove prefix

 Ahmad

In [ ]:
name= "Amina Ahmad"  # use double qouts
name1 = 'Amina "Ahmad"'  # if we specied single word in string with double quots the whole string must be in single quots
print(name)
print(name1)

Amina Ahmad
Amina "Ahmad"

In [ ]:
#Integers are whole numbers.
a = 5
b = 15
print("a=",a)
print("b=",b)
print("a + b=",a + b)  # 20
print("a - b=",a - b)  # -10
print("a * b=",a * b)  # 75
print("a / b=",a / b)  # 0.333333

a= 5
b= 15
a + b= 20
a - b= -10
a * b= 75
a / b= 0.3333333333333333

In [ ]:
#Floats are numbers with decimals.
x = 4  # integer
y = 3.5  # float
print("x + y=",x + y)  # 7.5

x + y= 7.5

In [ ]:
#A list is an ordered collection of items.
fruits = ["apple", "banana", "Orange","mango"]
favorite_fruit = fruits[3]
print(fruits)
#Access elements in a list using their index:
print(fruits[0])  # apple
print(fruits[1])  # banana
#You can use a list's element by storing it in a variable:
print(f"My favorite fruit is {favorite_fruit}.")
#Indexing
print(fruits[-1])  # mango
#slicing
print(fruits[0:2])  # ['apple', 'banana']
print(fruits[1:])   # ['banana', 'orange','mango']
print(fruits[:2])   # ['apple', 'banana']

fruits[0] = "grapes"
print(fruits)  # ['grapes', 'banana', 'orange','mango']

print(fruits.append("pineapple"))  # None

['apple', 'banana', 'Orange', 'mango']
apple
banana
My favorite fruit is mango.
mango
['apple', 'banana']
['banana', 'Orange', 'mango']
['apple', 'banana']
['grapes', 'banana', 'Orange', 'mango']
None

In [ ]:
# Creating lists
empty_list = []
numbers = [1, 2, 3, 4, 5]
mixed = [1, "hello", 3.14, True]

# Accessing elements
print(numbers[0])  # Output: 1
print(mixed[-1])   # Output: True

# Modifying elements
numbers[1] = 10
print(numbers)  # Output: [1, 10, 3, 4, 5]

# if use append to add in list
numbers.append(6)
print(numbers)

1
True
[1, 10, 3, 4, 5]
[1, 10, 3, 4, 5, 6]